@use "../global/" as g;

/* --------------------------------------
  footer
-------------------------------------- */

.l-footer {
  background: g.$color-primary;
  color: g.$color-white;
}

.l-footer__inner {
  padding: 50rem 30rem 26rem;

  @include g.media() {
    padding: 90rem 60rem 142rem;
  }
}

.l-footer__contact {
  border-radius: 10rem;
  overflow: hidden;
  background: g.$color-white;
  color: g.$color-text;
  position: relative;

  // 背景の格子模様
  &::before {
    content: "";
    display: block;
    inset: 0;
    mask-image: url(../img/common/lattice.svg);
    @include g.mask-img;
    mask-size: 250%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: g.$color-text;
    opacity: 0.03;

    @include g.media() {
      mask-size: 100%;
    }
  }

  @include g.media() {
    height: 540rem;
  }
}

.l-footer__contact-inner {
  position: relative;

  @include g.media() {
    padding-inline: 84rem 60rem;
    padding-block: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.l-footer__contact-content {
  padding: 0 28rem 30rem;

  @include g.media() {
    padding: 0;
  }
}

.l-footer__contact-title-wrapper {
  margin-bottom: 13rem;

  @include g.media() {
    margin-bottom: 38rem;
  }
}

.l-footer__contact-title-en {
  font-size: 59rem;
  line-height: 1;

  @include g.media() {
    font-size: 110rem;
  }
}

.l-footer__contact-text {
  font-size: 14rem;
  line-height: 2;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 15rem;

  span {
    display: block;
  }

  @include g.media() {
    font-size: 16rem;
    text-align: left;
    margin-bottom: 34rem;

    span {
      display: inline-block;
    }
  }
}

.l-footer__contact-btn {
  display: grid;
  margin: 0 auto;

  @include g.media() {
    margin: 0;
  }
}

.l-footer__contact-img-area {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 9rem;

  @include g.media() {
    flex-direction: row;
    justify-content: flex-end;
    gap: 30rem;
  }
}

.l-footer__contact-img-group {
  @include g.media() {
    width: 270rem;
  }
}

.l-footer__contact-img-group--first {
}

.l-footer__contact-img-group--second {
}

.l-footer__contact-list {
  display: flex;
  gap: 8rem;
  width: 466rem;

  @include g.media() {
    flex-direction: column;
    width: auto;
  }
}

.l-footer__content-item {
  border-radius: 5rem;
  overflow: hidden;

  @include g.media() {
    border-radius: 10rem;
  }
}
